header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(3, 3, 3);
    justify-content: space-between;
    
    @media (max-width: 900px) {
        height: 8vh;
        
    }

    nav {
        display: flex;
        min-width: 60%;
        height: 60%;
        margin: 20px;
        flex: 1;
        
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        color: white;
        width: 100%;

        @media (max-width: 900px) {
            display: none;
        }
    }

    li {
        cursor: pointer;
        
    }


}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    
    @media (max-width: 900px) {
        min-width: 90%;
        margin-left: 150px;
    }
}

.img-logo {
    display: flex;
    justify-content: center;
    width: 100%;
 
    img {
        width: 30%;
        object-fit: contain;
        margin-left: 50px;

        @media (max-width: 900px) {
            height: auto; 
            width: 80%;  
            margin-left: 0;
        
        }
    }

}

.trocar-perfil {
    display: flex;
    width: 20%;
    height: 100%;
    @media (max-width: 900px) {
        display: none;
    }
    
    
    img{
        width: 30px;
        height: 30px;
        margin-top: 20px;
        @media (max-width: 900px) {
            display: none;
        }
        
    }

   
    
}


