footer {
    display: flex;
    width: 90%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    color: white;

    @media (max-width: 600px) {
        justify-content: space-around;
    }

    h2 {
        text-align: center;
        
    }
}



.rodape-contact-help {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    
    @media (max-width: 600px) {
        width: 50%;
        justify-content: center;
    }
    
    a {
        color: white;
        text-decoration: none;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
        font-weight: 800;
    }
}

.redes-sociais {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    color: white;

    img {
        width: 40px;
        border-radius: 50px;
        object-fit: cover;

        @media (max-width: 600px) {
            width: 30px;

        }
    }
    ul {
        display: flex;
        gap: 10px;
        list-style: none;
        align-items: center;

        @media (max-width: 600px) {
            gap: 30px;
        }
    }
}

.ocultar {
    @media (max-width: 600px) {
        display: none;
    }
   
}